.logo {
    float: left;
    width: 150px;
    height: 80px;
}

html {
    height: 100%;
}

body {
    font-family: Arial, halvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #F7F8F3;
    height: 100%;
}


/*global*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.page-wrapper {
    min-height: 100%;
}

.button {
    height: 40px;
    background: #534859;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #F7F8F3;
    font-size: 16px;
}

.button:hover {
    background: #F7F8F3;
    color: #222222;
}


/*header*/

header {
    background: #F7F8F3;
    color: #F8444F;
    padding-top: 30px;
    min-height: 70px;
}

header a ,.container a{
    color: #002C3E;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li , .container li {
    /*float center;*/
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 30px;
}

header .current a , .container .forHome a {
    color: #78BDC4;
    font-weight: bold;
}

header a:hover {
    color: #F76754;
    /*#CCC;*/
    font-weight: bold;
}


/*showcase*/

#showcase {
    min-height: 450px;
    background: url('../images/travel_route.jpg')no-repeat 0, -200px;
    ;
    background-size: cover;
    text-align: right;
}
#showcase h1 {
    margin-top: 350px;
    margin-bottom: 10px;
}


/*Footer*/

footer {
    background: #F8444F;
    height: 300px;
    position: relative;
}

footer .ft-content {
    height: 300px;
    display: flex;
}

footer .foot-add {
    font-size: 20px;
    text-align: left;
}

footer .ft-content .foot {
    flex: 1;
    border: 1px solid white;
    padding: 25px;
}

footer .foot-subs {
    padding: 15px;
    color: #052D49;
}

footer .footer-links {
    color: #052D49;
}

footer .footer-links .social {
    width: 50px;
    height: 50px;
    padding: 3px;
}

footer .foot-subs form {
    float: right;
    color: #78BDC4;
}

footer input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

footer .foot-bottom {
    background: #F8434F;
    position: absolute;
    height: 50px;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    text-align: center;
}

.content-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.BT-clr {
    color: #78BDC4 !important;
}

.BT-border {
    border: solid 1px #a39d91 !important;
}

.Bt-font {
    font-family: 'Open Sans', serif !important;
}

.Bt-margin {
    margin-bottom: 20px !important;
}

.txt-center {
    text-align: center;
}

.container dinealign {
    text-align: center;
    color: #F8434F;
}

.diningItem {
    margin-bottom: 50px;
}

.diningItemDetails {
    padding: 20px 10px;
    text-align: justify;
}

.diningItem img_responsive {
    float: left;
    width: 20px;
    height: 20px;
}

.diningItem diningItemHeader {
    background: #efefef;
    padding: 20px 30px;
}

.diningTimingBlock {
    padding: 10px 0px;
}

.diningItem img_responsive1 {
    position: relative;
    float: right;
    width: 20;
    height: 40;
}

/*.btn-backg {
    background: mediumorchid;
    color: white;
}*/

.container .diningItem div  :hover{
    background: #F7F8F3;
    color: #222222;

 }

.container .diningItem .btn-backg{
	height: 40px;
	background: #534859;
	color: white;
	padding: 10px;
    /*padding-right: 20px;*/
	
}

.ltr-spc {
    letter-spacing: 1px;
}

.upr-case {
    text-transform: uppercase !important;
}

.dinebg {
    color: #28104E;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 2px;
    margin-left: 10px;
}

/*grid layout*/
.container .diningItem{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:10px;
}

/*media queries*/

@media (max-width:800px)
{
	.container .diningItem{
		grid-template-columns:1fr;
	}
}