.logo
{
	float:left;
	width:150px;
	height:80px;	
}

html{
	height:100%;
}
body{
	font-family: Arial, halvetica, sans-serif;
	font-size: 15px;
	line-height:1.5;
	
	padding:0;
	margin:0;
	background-color:#F7F8F3;
	height:100%;
	color:#28104E;
	
}

/*global*/

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.container h2{
	color:#78BDC4;
	
}
.page-wrapper{
	min-height:20%;
}
.button{
	height:40px;
	background:#534859;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#F7F8F3;
	font-size:16px;
}
.button:hover{
	
	background:#F7F8F3;
	color:#222222;
}


/*header*/
 
header{
	background:#F7F8F3;
	color:#F8444F;
	padding-top:30px;
	min-height:70px; 
}

header a, .container a{
	color:#002C3E ;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

header ul{
	margin:0;
	padding:0;
}

header li ,.container li{
	/*float center;*/
	display:inline;
	text-transform:uppercase;
	padding: 0 20px 0 20px;
	
}

header nav{
	float:right;
	margin-top:30px;
}

header .current a ,.container .current a{
	color:#78BDC4;
	font-weight:bold;
}

header a:hover{
	color:#F76754;/*#CCC;*/
	font-weight:bold;
}

/*showcase*/
#showcase{
	min-height:450px;
	background:url('../images/events_intro.jpg')no-repeat 0,-200px;;
	background-size:cover;
	text-align:right;
}
#showcase h1{
	margin-top:350px;
	margin-bottom:10px;
}

/*Footer*/

 footer{
	background:#F8444F;
	height:300px;	
	position: relative;
}

footer .ft-content{
	height:300px;
	display:flex;
}

footer .foot-add{
	color:#052D49;
	font-size: 20px;
	text-align:left;
	font-weight:bold;
}

footer .ft-content .foot{
	flex:1;
	border:1px solid white;
	padding:25px;
	
}

footer .foot-subs {
	padding:15px;
	color:#052D49;
	
}

footer .footer-links{
	color:#052D49;
}

footer .footer-links .social{
	width:50px;
	height:50px;
	padding:3px;

}

footer .foot-subs form{
	float:right;
	color:#78BDC4;
	
}

footer input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}

footer .foot-bottom{
	
	background:#F8434F;
	position:absolute;
	height:50px;
	width:100%;
	position:absolute;
	padding-top: 20px;
	text-align:center;
	color:#052D49;
	
}
/*events Image */
.genFun .eventsImg , .banquet .eventsImg,.conference .eventsImg{
	width:100%;
	height:500px;
}

.genFun .meetInfo div, .banquet .meetInfo div, .conference .banquet .meetInfo div{
	margin:auto;
}

.genFun .meetInfo .eventsImg, .banquet .meetInfo .eventsImg, .conference .meetInfo .eventsImg{
	width:100%;
	height:150px;
	
}



.genFun .meetInfo, .banquet .meetInfo, .conference .meetInfo{
	display:grid;
	grid-gap:30px;
	grid-template-columns: 1fr 2fr;
	
}

/*plan events*/

.container .meetInfo div .buttonURL:hover{
    background: #F7F8F3;
    color: #222222;

 }

.container .meetInfo div .buttonURL{
	height: 40px;
	background: #534859;
	color: white;
	padding: 10px;
    /*padding-right: 20px;*/
	
}